In [1]:
# -*- coding: utf-8 -*-
"""
Created on Tue Oct 13 18:59:24 2020

@author: andre
"""

'\nCreated on Tue Oct 13 18:59:24 2020\n\n@author: andre\n'

In [2]:
import sys
sys.path.insert(0, 'C:/Users/andre/Desktop/EVO_2021')

In [11]:
# Import packages 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import random
import operator

import pygmo as pg 
import platypus as plat

import copy
from collections import defaultdict
import math

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [4]:
# Import modules
from distances import haversine 

from NSGA_II import NSGAII
from pareto_solutions import pareto_front_coordinates

In [5]:
   # Read "treatment_centers.csv". This file has the following information:
    # 1. Name of the treatment center;
    # 2. Latitude and Logitude (as 2 different columns) of the above mentioned treatment centers;
    # 3. Demand allocated to each treatment center 
hospitals = pd.read_csv('treatment_centers.csv') # turn into array
hospitals_array = np.array(hospitals[['Longitude','Latitude','Demand']])  # Hospital names are irrelevant

hospitals.head()

            Name   Latitude   Longitude  Demand
0  St petersburg  27.764960  -82.640600      19
1        Houston  29.707669  -95.397623      14
2        Houston  29.707781  -95.400833      14
3         Tucson  32.240791 -110.946153      13
4        Jackson  32.328838  -90.175527      11

In [6]:
# Read "1000_largest_us_cities_raw_cost.csv". This file has the following information:
    # 1. 1000 candidate locations for the manufacturing and cryopreservation facilities;
        # - these were chosen based on the 1000 biggest cities in the USA;
    # 2. Rank (i.e. this is the rank by size) and population size for each of the candidate locations;
    # 3. State within each city is located; 
    # 4. Latitude and Logitude (as 2 separate columns) for each of the candidate locations; 
    # 5. The cost/order calculated for each of the candidate locations;
        # - this is random at this stage and calculated at state level rather than candidate location; 
locations = pd.read_csv('1000_largest_us_cities_raw_cost.csv')
locations.head()

      City  Rank       State  Population   Latitude   Longitude  Cost_order
0  Abilene   221       Texas      120099  32.448736  -99.733144       32138
1  Addison   986    Illinois       37385  41.931696  -87.988956       31661
2    Akron   116        Ohio      198100  41.081445  -81.519005       34856
3  Alameda   435  California       76419  37.765206 -122.241636       31513
4   Albany   299    New York       98424  42.652579  -73.756232       48618

In [7]:
############################### HYPERPARAMETERS ##############################
##############################################################################

# INSERT SHELF LIFE HERE (in hours)
SHELF_LIFE = 12

POPULATION = 100
PARENTS = math.ceil(POPULATION/4)

DIST = haversine
SPEED = 110       # in km

##############################################################################
##############################################################################

In [8]:
pareto_front_100 = NSGAII(10)

0 1 2 3 4 5 6 7 8 9

In [9]:
final_df = pareto_front_coordinates(pareto_front_100)
final_df.to_csv('C:/Users/andre/OneDrive - UOM/Data/EVO_2021/pareto_front_locations.csv', index=False)

In [ ]:
%matplotlib notebook
import matplotlib
fig = plt.figure()
ax = plt.axes(projection='3d')

x = all_fitness[-1][:, 0]
y = all_fitness[-1][:, 1]
z = all_fitness[-1][:, 2]

ax.scatter3D(x, y, z, c=z, cmap='BrBG', linewidth=0)

ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')
plt.style.use(['fast'])

plt.title("NSGA-II Pareto Front")
ax.set_xlabel('X-axis', fontweight ='bold') 
ax.set_ylabel('Y-axis', fontweight ='bold') 
ax.set_zlabel('Z-axis', fontweight ='bold')

plt.show()

In [12]:
solutions_df = pd.DataFrame(all_fitness[-1], columns = ['f1','f2','f3'])
solutions_df.head()

NameError: name 'all_fitness' is not defined

In [13]:
hyp = pg.hypervolume(solutions_df[['f1','f2', 'f3']].values)

NameError: name 'solutions_df' is not defined

In [15]:
fi = hyp.compute([111111111111111111, 111111111111111111, 111111111111111111])

NameError: name 'hyp' is not defined